<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1651756003.193361</real>
	<key>UUID</key>
	<string>E7196374-4F08-41DE-9E8C-6964172D42B7</string>
</dict>
</plist>
